<li data-url="{{media.url}}"
    data-parent="{{parent.id}}"
    data-collapsible
    id="folder_{{id}}"
    class="folder">

  <button data-collapse data-folder="{{id}}">&minus;</button>

  <span class="folder_title" draggable="true">
    <div class="icon folder"></div>
    <!-- <span>{{#escape title}}{{/escape}}</span> -->
    <span>{{{title}}}</span>
    <button class="icon edit_folder"></button>
    <button class="icon delete_folder"></button>
  </span>


  <ol class="listing folders"></ol>
  <ol class="listing pages">
    <li class="empty_folder">This folder is empty.</li>
  </ol>
</li>