<% content_for :title do %>Browsability settings<% end %>

<%= partial "spaces/settings/_nav" %>

<form action="<%= request.path %>" method="POST">
  <h2>Browsable Pages</h2>
  <p>Below is a listing of all the pages and folders within your space.
    Unchecking a resource will prevent it from being publicly browsable
    when people are browsing your <a href="<%= @space.href%>">space space</a>.
  </p>
  <p><em>Note that this only takes effect if the space is publicly browsable,
    <% if @space.is_browsable? %>which it is. <% else %> which it isn't.<% end %>
  </em></p>
  <ul class="browsability">
    <%
      traverse_space(@space, {
        on_page: lambda { |p| %>
          <li>
            <label>
              <input type="checkbox" name="browsable[pages][]" value="<%= p.id %>" <%= 'checked="CHECKED"' if p.browsable %> />
              <%= p.title %>
            </label>
          </li>
        <% },

        on_folder: lambda { |f| %>

          <li>
            <label>
              <input type="checkbox" name="browsable[folders][]" value="<%= f.id %>" <%= 'checked="CHECKED"' if f.browsable %> />
              <strong><%= f.title %></strong>
            </label>
          <ol>
        <% },

        on_folder_done: lambda { |f| %>
          </ol></li>
        <% }
      })
    %>
  </ul>

  <% if @space.pages.empty? && @space.folders.empty? %>
    <p class="notice">Oops! The space has no folders or pages yet, nothing to show here.</p>
  <% end %>
  <input type="submit" value="Update" />
</form>