<% content_for(:title) { "General Settings | #{@group.title} | PageHub" } %>

<%= partial "groups/settings/_nav" %>

<% content_for :js do %>
<script>
  $(function() {
    // Checks whether the typed in group name is available
    $("#check_availability").click(function() {
      var btn = $(this);
      var name = $("input[name=name]").attr("value");

      if (name.length == 0) {
        btn.next("span").addClass("error").html("invalid name");
        return false;
      }

      $.ajax({
        url: "/groups/name",
        type: "POST",
        data: { name: $("input[name=name]").attr("value") },

        success: function(is_available) {
          is_available = JSON.parse(is_available);
          console.log(is_available)
          if (is_available) {
            btn.next("span").addClass("success").removeClass("error").html("available");
          } else {
            btn.next("span").addClass("error").removeClass("success").html("not available");
          }
        }

      });
      return false;
    });
  });
</script>
<% end %>
<% if !@group.is_creator?(current_user) %>
  <p>Only the group creator can manage this section.</p>
<% else %>

  <form action="<%= request.path %>" method="POST">
    <h2>Name</h2>
    <label>The group name must be unique and it will be used for accessing pages and user management.
      <br /><br />
      <input type="text" name="name" class="very_fat" value="<%= @group.title %>" />
      <button id="check_availability">check availability</button>
      <span></span>
    </label>

    <p>
      <em>
        <strong>WARNING: </strong>
        changing the group name will <strong>irreversibly</strong> invalidate
        <strong>all public links</strong> of the group's pages that were shared
        with members or people.
      </em>
    </p>
    <p><label><input name="confirmed" type="checkbox" value="do it" />
      I have read the warning and I understand the implications. Do it.</label>
    </p>

    <h2>Brief</h2>
    <label>A 1-line description of what this group is for.
      <br /><br />
      <input type="text" name="brief" style="width: 600px" value="<%= @group.brief %>" placeholder="Building nuclear plants with style"></textarea>
    </label>
    
    <h2>Public access</h2>
    <label>
      <input type="checkbox" <%= 'checked="checked"' if @group.is_public %> value="true" name="is_public" />
      Allow people to read and browse the group documents automatically
    </label>

    <br />
    <br />

    <input type="submit" value="Update" />

      <a href="/groups/<%= @group.name %>/destroy"
         class="button bad confirm thin"
         data-confirm-cb="ui.dialogs.destroy_group"
         data-confirm-accept="Accept"
         >Destroy this group
      </a>
      <div hidden="hidden" data-confirm>
        <p>Are you sure you want this group to be destroyed?</p>
        <p>Please note that
          this action is irreversible, and destroying the group will remove
          <strong>all of its pages</strong> as well as invalidate all the links
          to those pages that were shared with others.
        </p>
      </div>

    <%= partial "/shared/_confirmation_dlg" %>

  </form>
<% end %>