<%= partial "spaces/settings/_nav" %>

<% content_for :nav_section do %>space_settings<% end %>
<% content_for :deferred_js do %>
<script>
  require([ 'views/spaces/settings/index' ], function(SettingsView) {
    application.view = new SettingsView(application);
  });
</script>
<% end %>

<div id="settings" style="display: none;">
  <%= partial :"spaces/settings/general" %>
  <%= partial :"spaces/settings/memberships" %>
  <%= partial :"spaces/settings/publishing" %>
  <%= partial :"spaces/settings/browsability" %>
</div>