<% @f ||= @folder || @space.folders.new %>

<form>
  <label>Title: <br />
    <input style="width: 100%" type="text" name="title" value="<%= h @f.title %>" />
  </label>
  <br />
  <label>Parent folder:<br />
    <select name="parent_id">
      <% @space.traverse do |f, lvl| %>
        <option value="<%= f.id %>" <%= 'selected="selected"' if @f.folder && @f.folder.id == f.id %>>
          <%= Array.new(lvl * 4, '&nbsp;').join('') %> <%= h f.title %>
        </option>
      <% end %>
    </select>
  </label>
</form>