<% unless flash.empty? %>
  <% flash.each_pair do |ctx, messages| %>
    <div id="flash" class="hidden flashes <%= ctx %>">
      <% if messages.is_a?(Array) && messages.size > 1 %>
        <ol>
          <% messages.each do |m| %>
            <li class="flash <%= ctx %>"><%= m.is_a?(Array) ? m.first.to_s : m %></li>
          <% end %>
        </ol>
      <% else %>
        <% messages = messages.first if messages.is_a?(Array) %>
        <span class="flash <%= ctx %>"><%= messages %></span>
      <% end %>
      <button id="hide_flash" class="close">&times;</button>
    </div>

  <% end %>
<% end %>