<% content_for :deferred_js do %>
<script>
  require(['views/header'], function(View) {
    application.header = new Header(application);
    application.header.render();
  })
</script>
<% end %>

<% if !logged_in? %>
<header id="header">
  <div class="stuff">
    <span class="beta label label-important">BETA</span>
    <strong class="path"><a href="/">PageHub</a></strong>
    <nav>
      <a href="/explore">Explore</a>
      <a href="http://blog.pagehub.org">Blog</a>
    </nav>
    <nav>
      <a class="btn btn-small" href="/sessions/new">Sign in</a>
    </nav>
  </div>
</header>
<% end %>

<% if logged_in? %>
<header id="header">
  <div class="stuff">
    <span class="beta label label-important">BETA</span>

    <div id="path" class="path"></div>

    <nav>
      <span class="avatar">
        <% if true || settings.production? %>
          <%= gravatar_tag (current_user.gravatar_email || current_user.email), :icon, { html: { rel: "tooltip", title: current_user.nickname } } %>
        <% end %>
      </span>
      <a class="icon dashboard <%= nav_highlight 'dashboard' %>" rel="tooltip" title="Your dashboard" href="<%= current_user.dashboard_url %>">Dashboard</a>

      <a href="<%= current_user.settings_url %>" class="icon tools <%= nav_highlight 'settings' %>" rel="tooltip" title="Account settings">Settings</a>
      <a href="/sessions/destroy" class="icon signout" rel="tooltip" title="Sign out">Sign out</a>
    </nav>
  </div>
</header>

<% end %>