<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><% __title = yield_with_default(:title) do %><%= AppTitle %><% end %><%= __title %></title>

  <script type="text/javascript" src="/js/jquery.1.7.1.min.js"></script>
  <!-- <link href="/css/pagehub.css" rel="stylesheet" type="text/css" /> -->

  <link href="/assets/app.css" rel="stylesheet" type="text/css" />
</head>

<body class="guest">

  <div class="status-wrap">
    <div id="status"></div>
    <%= partial "layouts/_flashes" %>
  </div>

  <div class="stuff">
    <nav class="top">
      &nbsp;
      <a id="login" href="/sessions/new">Sign in</a>
    </nav>

    <div id="content">
      <%= yield %>
    </div>
    <div class="sidebar">
      <header>
        <h1><a href="/">PageHub</a></h1> <br/>
      </header>

      <nav>
        <ul>
          <a href="/features">Features</a><br/>
          <a href="/about">About</a><br/>
          <a href="/open-source">Open Source</a><br/>
          <a href="/users/new">Sign up</a>
        </ul>
      </nav>
    </div>

  </div>
  <%= partial "layouts/_footer" %>

  <%= yield_content :deferred_js %>
  <%= partial "layouts/_google_analytics" %>
</body>

</html>
