<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= yield_with_default(:title) { AppTitle } %></title>

  <script type="text/javascript" src="/js/jquery.1.7.1.min.js"></script>
  <link href="/css/pagehub.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript">
    $(function() {
      $("a[href='<%=request.path%>']").addClass("selected");
    });

  </script>

  <%= yield_content :scripts %>
  <%= yield_content :js %>

  <link href="/css/skins/light.css" rel="stylesheet" type="text/css" />
  <link href="/css/guest.css" rel="stylesheet" type="text/css" />
</head>

<body class="guest">

  <div class="nav_wrap"></div>
  <div class="stuff">
    <nav>
      &nbsp;
      <a id="login" href="/sessions/new">Sign in</a>
    </nav>

    <header>
      <div class="header_wrap"></div>
      <!-- <h1><a href="/"><img src="/images/Logo-black-without-glass.png" alt="PageHub Logo" /></a></h1> -->
      <h1><a href="/">PageHub</a></h1> <br/>
      <ul>
        <a href="/features">Features</a><br/>
        <a href="/about">About</a><br/>
        <a href="/open-source">Open Source</a><br/>
        <a href="/users/new">Sign up</a>
      </ul>
    </header>

    <div id="content">
      <div id="status"></div>

      <%= partial "layouts/_flashes" %>

      <%= yield %>
    </div>

  </div>
  <%= partial "layouts/_footer" %>

  <%= yield_content :deferred_js %>
  <%= partial "layouts/_google_analytics" %>
</body>

</html>
