<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <% if false then this_title = yield_with_default(:title) do %><%= AppTitle %><% end end %>
  <% this_title = yield_content(:title) %>
  <title><%= title(this_title) %></title>

  <link href="/assets/app.css" rel="stylesheet" type="text/css" />
  <% unless settings.production? %>
    <link href="/assets/skins/<%= current_user.p('skin') %>.css" rel="stylesheet" type="text/css" />
    <!-- <link href="/js/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" /> -->
  <% else %>
    <link href="/assets/skins/<%= current_user.p('skin') %>.min.css" rel="stylesheet" type="text/css" />
  <% end %>

  <%= yield_content :css %>

  <!--
  <script src="/assets/app.js"></script>
  <script src="/assets/vendor/jquery-1.9.1.min.js"></script>
  <script src="/assets/vendor/jquery-ui-1.10.1.custom.min.js"></script>
  <script src="/assets/vendor/modernizr.js"></script>
  <script src="/assets/vendor/shortcut.js"></script>
  <script src="/assets/vendor/bootstrap.min.js"></script>


  <script type="text/javascript" src="/js/modernizr.js"></script>
  <script type="text/javascript" src="/assets/lib/json2.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/lib/require.js"></script>
  <script type="text/javascript" src="/js/lib/handlebars.js"></script>
  <script type="text/javascript" src="/js/lib/underscore-min.js"></script>
  <script type="text/javascript" src="/js/lib/backbone-min.js"></script>
  <script type="text/javascript" src="/js/shortcut.js"></script>
  -->
  <script>
    pagehub_hooks = [];
  </script>

  <script src="/assets/vendor/jquery-1.9.1.min.js"></script>
  <script data-main="/assets/main" src="/assets/lib/require.js"></script>

  <%= yield_content :js %>
  <%= yield_content :scripts %>
</head>

<body class="member">

  <%= yield_content :wraps %>

  <header>
    <div class="stuff">
      <!-- <h1><a href="/">Page<em>Hub</em></a></h1> -->
      <h1>
        <a href="<%= current_user.url %>"><%= current_user.nickname %></a>
        <% if @space %>
          / <a href="<%= @space.url %>"><strong><%= @space.title %></strong></a>
        <% end %>
        <% if can? :update, @space %>
          <a rel="tooltip" title="Space settings" class="icon tools <%= nav_highlight 'space_settings' %>" href="<%= @space.url %>/edit"></a>
        <% end %>
        <%#= yield_content :header %>
      </h1>

      <nav>
        <span>
          <a href="<%= current_user.url %>/edit" %><%= current_user.nickname %></a>
          <% if !settings.production? %>
            <%= gravatar_tag (current_user.gravatar_email || current_user.email), :icon %>
          <% end %>
        </span>
        <a class="icon dashboard <%= nav_highlight 'dashboard' %>" rel="tooltip" title="Your dashboard" href="/">Spaces</a>
        <% if false %>
          <ol class="listlike">
            <li><a href="<%= Space.url(current_user) %>"><i class="icon-plus"></i> Create a new space</a></li>
            <% current_user.spaces.each do |s| %>
              <li>
                <a href="<%= s.url %>"><%= s.title %></a>
              </li>
            <% end %>
          </ol>
        <% end %>

        <!-- <a class="listlike icon help" href="/help" rel="tooltip" title="Help">Help</a> -->
        <%#= partial "/shared/_nav_help_links" %>
        <a href="<%= current_user.url %>/edit" class="icon tools <%= nav_highlight 'settings' %>" rel="tooltip" title="Your account settings">Settings</a>
        <a href="/sessions/destroy" class="icon signout" rel="tooltip" title="Sign out">Sign out</a>
      </nav>
    </div>
  </header>

  <div class="status-wrap">
    <div id="status"></div>
    <%= partial "layouts/_flashes" %>
  </div>

  <div class="stuff">
    <% klasses = [ request.path.gsub('/', ' ').strip.sanitize.split('-').first ] %>
    <% klasses << (yield_content :section if content_for?(:section)) %>

    <div id="content" class="<%= klasses.join(' ') %>">
      <%= yield %>
    </div>

    <%# partial "shared/_skin_switcher" %>

    <img class="loader" src="/assets/loading_sun.gif" />
    <div class="loader-overlay"></div>

    <aside class="hidden modal alert" id="html5_compatibility_notice">
      <h2>Unsupported Browser</h2>

      <p>The brower you are currently using does not appear to support
        the latest HTML5 standards which are required for PageHub to
        function correctly.
      </p>
      <p>Please update your browser or use a recent version of the
        officially supported browsers: Google Chrome, Safari 5, or Mozilla Firefox.
      </p>
    </aside>

  </div>
  <%= partial "layouts/_footer" %>

  <script>
    request = { path: <%= request.path.to_json %> };
    pagehub_hooks.push(require([ 'views/nav' ], function() { }));
  </script>

  <%= yield_content :deferred_js %>
  <%= partial "layouts/_google_analytics" %>
</body>

</html>
