<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <% if false then this_title = yield_with_default(:title) do %><%= AppTitle %><% end end %>
  <% this_title = yield_content(:title) %>
  <title><%= title(this_title) %></title>

  <link href="/css/compiled/app.css" rel="stylesheet" type="text/css" />

  <%= yield_content :css %>

  <script>
    pagehub_hooks = [];
  </script>

  <%= yield_content :js %>
  <%= yield_content :scripts %>
</head>

<body class="<%= logged_in? ? 'member' : 'guest' %> <%= current_user.p('skin') %>">

  <%= yield_content :wraps %>

  <%= partial "layouts/_header" %>

  <div class="status-wrap">
    <div id="status"></div>
    <%= partial "layouts/_flashes" %>
  </div>

  <div class="stuff">
    <% klasses = [ request.path.gsub('/', ' ').strip.sanitize.split('-').first ] %>
    <% klasses << (yield_content :section if content_for?(:section)) %>

    <div id="content" class="<%= klasses.join(' ') %>">
      <%= yield %>
    </div>

    <%# partial "shared/_skin_switcher" %>

    <div id="loader" class="loader"></div>
    <div class="loader-overlay"></div>

    <aside class="hidden modal alert" id="html5_compatibility_notice">
      <h2>Unsupported Browser</h2>

      <p>The brower you are currently using does not appear to support
        the latest HTML5 standards which are required for PageHub to
        function correctly.
      </p>
      <p>Please update your browser or use a recent version of the
        officially supported browsers: Google Chrome, Safari 5, or Mozilla Firefox.
      </p>
    </aside>

  </div>
  <%= partial "layouts/_footer" %>
  <%= partial "layouts/_pagehub_js" %>
  <%= partial "layouts/_google_analytics" %>
</body>

</html>
