<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= yield_with_default(:title) { AppTitle } %></title>

  <% if settings.development? %>
    <link href="/css/pagehub.css" rel="stylesheet" type="text/css" />
    <link href="/css/skins/<%= preferences["pagehub"]["skin"] %>.css" rel="stylesheet" type="text/css" />
    <!-- <link href="/js/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" /> -->
  <% else %>
    <link href="/css/pagehub.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/skins/<%= preferences["pagehub"]["skin"] %>.min.css" rel="stylesheet" type="text/css" />
  <% end %>

  <%= yield_content :css %>

  <script type="text/javascript" src="/js/modernizr.js"></script>
  <script type="text/javascript" src="/js/json2.min.js"></script>
  <script type="text/javascript" src="/js/jquery.1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>

  <script>
    pagehub_settings = <%= preferences.to_json %>;
    last_error = null; // used for debugging
  </script>

  <% if settings.development? %>
    <script type="text/javascript" src="/js/shortcut.js"></script>
    <script src="/js/dynamism.js"></script>
    <script src="/js/pagehub.js"></script>
    <script src="/js/pagehub_ui.js"></script>
  <% else %>
    <script src="/js/ugly/all.js"></script>
  <% end %>

  <%= yield_content :js %>
  <%= yield_content :scripts %>
</head>

<body class="member">

  <div class="header_wrap">
  </div>

  <%= yield_content :wraps %>
  <div class="stuff">
    <header>
      <h1><a href="/">Page<em>Hub</em></a></h1>
      <div class="subheader"><%= yield_content :header %></div>
    </header>

    <nav>

      <span>Hi <%= current_user.nickname %></span>
      <a class="listlike icon groups" rel="tooltip" title="Your groups" href="/groups">Groups</a>
      <ol class="listlike">
        <li><a href="/groups/new">Start a new group</a></li>
        <% current_user.groups.each do |g| %>
          <li>
            <a href="/groups/<%= g.name %>"><%= g.title %></a>
            <!-- <small><a style="padding: 0; margin: 0" href="/groups/<%= g.name %>/info">( info )</a></small> -->
          </li>
        <% end %>
      </ol>
      <a class="listlike icon help" href="/help" title="Help">Help</a>
      <%= partial "/shared/_nav_help_links" %>
      <a class="listlike icon settings" href="/settings" title="Your account">Account</a>
      <%= partial "/shared/_nav_account_links" %>

    </nav>

    <div id="status"></div>

    <% if !flash.empty? %>
      <div id="flashes">
        <% if flash.size > 1 then %>
          <ol>
            <% flash.each_pair do |ctx,msg| %>
              <li class="flash <%= ctx %>"><%= msg %></li>
            <% end %>
          </ol>
        <% else %>
          <% flash.each_pair do |ctx,msg| %>
            <span class="flash <%= ctx %>"><%= msg %></span>
          <% end %>
        <% end %>
        <button>&times;</button>
      </div>
    <% end %>

    <div id="content" class="<%= request.path.gsub('/', ' ').strip.sanitize.split('-').first %>">
      <%= yield %>
    </div>

    <% if logged_in? %>
      <%= partial "shared/_skin_switcher" %>
    <% end %>

    <img class="loader" src="/css/ajax-loader-615B4E.gif" />

    <aside class="modal alert" id="html5_compatibility_notice">
      <h2>Unsupported Browser</h2>

      <p>The brower you are currently using does not appear to support
        the latest HTML5 standards which are required for PageHub to
        function correctly.
      </p>
      <p>Please update your browser or use a recent version of the
        officially supported browsers: Google Chrome, Safari 5, or Mozilla Firefox.
      </p>
    </aside>

    <%= partial "layouts/_footer" %>
  </div>

  <%= partial "layouts/_google_analytics" %>
</body>

</html>
