<% # coding: UTF-8 %>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= (yield_with_default(:title) { AppTitle }).force_encoding('UTF-8') %></title>

  <script type="text/javascript" src="/js/jquery.1.7.1.min.js"></script>
  <!-- <link href="/css/fonts/proximanova/proximanova.css" rel="stylesheet" type="text/css" /> -->
  <!-- <link href="/css/pagehub.css" rel="stylesheet" type="text/css" /> -->
  <link href="/css/code_highlighting.css" rel="stylesheet" type="text/css" />

  <% # I'm not really proud of the following but it's the quickest way to
     # get things done: we need the preferences of the author of the page,
     # not the current (or none) user, and Helpers::preferences uses either
     # current_user or @user, so overriding it would do exactly what we want:
     if @page then @user = @page.user end
  %>

  <%= yield_content :scripts %>
  <%= yield_content :js %>
  <% puts p().inspect %>
  <% scheme = p('publishing.theme.name') %>
  <% unless scheme == "None" %>
    <link href="/css/schemes/<%= scheme.sanitize %>.css" rel="stylesheet" type="text/css" />
  <% end %>

  <% unless @group %>
    <style>
      .stuff {
        width: <%= preferences["publishing"]["width"].to_i %>px;
        text-align: <%= preferences["publishing"]["justified"] ? 'justify' : 'left' %>;
      }
    </style>
  <% end %>


  <link href="/css/print.css" rel="stylesheet" type="text/css" />
  <%= yield_content :css %>

  <% layout = "" %>
  <% if @group %>
    <% layout = p('publishing.layout.name') %>
    <link href="/css/layouts/<%= layout %>.css" rel="stylesheet" type="text/css" />
    
    <% if @group.css && !@group.css.empty? %>
      <style>
        <%= @group.css.minify(:css) %>
      </style>
    <% end %>
  <% else %>
    <% layout = 'focused' %>
    <link href="/css/layouts/focused.css" rel="stylesheet" type="text/css" />
  <% end %>
  

</head>
<% klasses = [ ] %>
<%
  @resource = @page || @folder
  if @resource
    klasses << @resource.pretty_title
    klasses << @page.folder.pretty_title if @page && @page.folder
  end
  
  klasses << 'with_sidebar' if content_for? :sidebar
%>

<body class="print <%= klasses.join(' ') %> <%= layout %> <%= scheme.sanitize %>">
  <div id="top"></div>

  <div id="jumpers">
    <a href="#top">&uarr;</a>
    <a href="#bottom">&darr;</a>
  </div>

  <div class="wrap">
    
    <header class="scope_title">
      <% if @group %>
        <h1><a href="<%= @group.public_url %>"><%= @group.title %></a></h1>
        <em><%= @group.brief %></em>
        <div class="nav_links">
          <% p('publishing.navigation_links').each do |e| %>
            <a href="<%= e["uri"] %>"><%= e["title"] %></a>
          <% end %>
        </div>
      <% end %>
    </header>
    
    <article class="content">
      <header class="page_title">
        <%= yield_content(:header).force_encoding('UTF-8') %>
      </header>
      
      <%= yield_content :breadcrumbs %>
      <%= yield %>
    </article>
    

    <% if content_for?(:sidebar) %>
      <div class="sidebar">
        <%= yield_content :sidebar %>
      </div>
    <% end %>
  
  </div>
  
  <div id="bottom"></div>
  <%= partial "layouts/_google_analytics" %>
</body>

</html>
