<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= yield_content :title %></title>

  <script type="text/javascript" src="/js/jquery.1.7.1.min.js"></script>
  <!-- <link href="/css/fonts/proximanova/proximanova.css" rel="stylesheet" type="text/css" /> -->
  <link href="/css/pagehub.css" rel="stylesheet" type="text/css" />
  <link href="/css/code_highlighting.css" rel="stylesheet" type="text/css" />

  <% # I'm not really proud of the following but it's the quickest way to
     # get things done: we need the preferences of the author of the page,
     # not the current (or none) user, and Helpers::preferences uses either
     # current_user or @user, so overriding it would do exactly what we want:
     if @page then @user = @page.user end
  %>

  <%= yield_content :scripts %>
  <%= yield_content :js %>

  <% if params[:scheme] %>
    <link href="/css/schemes/<%= params[:scheme].sanitize %>.css" rel="stylesheet" type="text/css" />
  <% else %>
    <link href="/css/schemes/<%= preferences["publishing"]["scheme"].sanitize %>.css" rel="stylesheet" type="text/css" />
  <% end %>

  <style>
    .stuff {
      width: <%= preferences["publishing"]["width"].to_i %>px;
      text-align: <%= preferences["publishing"]["justified"] ? 'justify' : 'left' %>;
    }
  </style>

  <link href="/css/print.css" rel="stylesheet" type="text/css" />
  <%= yield_content :css %>

  <% if @group && @group.css && !@group.css.empty? %>
    <style>
      <%= @group.css %>
    </style>
  <% end %>

</head>
<% klasses = [ ] %>
<%
  @resource = @page || @folder
  if @resource
    klasses << @resource.pretty_title
    klasses << @page.folder.pretty_title if @page && @page.folder
  end
  klasses << 'with_sidebar' if content_for? :sidebar
%>

<body class="print <%= klasses.join(' ') %>">
  <div id="top"></div>

  <a href="#top">top &uarr;</a>
  <a href="#bottom">bottom &darr;</a>

  <div class="stuff">
    <header>
      <%= yield_content :header %>
    </header>
    <div id="content" class="print">
      <%= yield %>
      <div id="bottom"></div>
    </div>

    <% if content_for?(:sidebar) %>
      <div id="sidebar">
        <%= yield_content :sidebar %>
      </div>
    <% end %>

    <!-- <hr /> -->
    <!-- <a href="http://pdfcrowd.com/url_to_pdf/">Convert this page to a PDF</a> -->
  </div>

</body>

</html>
