<!-- <div id="actions">
</div> -->
<% content_for :scripts do %>
<script src="/js/codemirror-2.3/lib/codemirror.js"></script>
<script src="/js/codemirror-2.3/mode/xml/xml.js"></script>
<script src="/js/codemirror-2.3/mode/markdown/markdown.js"></script>
<script src="/js/codemirror-2.3/mode/gfm/gfm.js"></script>

<script src="/js/codemirror-2.3/mode/javascript/javascript.js"></script>
<script src="/js/codemirror-2.3/mode/ruby/ruby.js"></script>
<script src="/js/codemirror-2.3/mode/shell/shell.js"></script>
<script src="/js/codemirror-2.3/mode/lua/lua.js"></script>
<script src="/js/codemirror-2.3/mode/clike/clike.js"></script>

<script src="/js/codemirror-2.3/keymap/mxvt.js"></script>

<script src="/js/jqModal.js"></script>
<script src="/js/naughty.js"></script>
<script src="/js/naughty_ui.js"></script>

<% @theme = "neat" %>
<link rel="stylesheet" href="/js/codemirror-2.3/lib/codemirror.css">
<link rel="stylesheet" href="/js/codemirror-2.3/theme/<%= @theme %>.css">
<link rel="stylesheet" href="/css/codemirror.css">
<link rel="stylesheet" href="/css/jqModal.css">

<script type="text/javascript">
  // ui = naughty_ui();
  // naughty = new naughty;

  $(function() {
    var editor = null;

    function get_page() {
      if ($(this).hasClass("selected"))
        return ui.show_title_editor();

      $("#page_actions").removeClass("disabled");

      $("#pages .selected").removeClass("selected");
      $(this).addClass("selected");

      // ui.status("Loading page...", "pending");
      ui.mark_pending();

      editor.save();
      // var title = $(this).html();
      var title = $(this).attr("id").replace("page_", "");
      $.ajax({
        type: "GET",
        url: "/pages/" + title + ".json",
        success: function(content) {
          // $("#page_editor").html(content);
          editor.clearHistory();
          editor.setValue(content);
          $("#preview").attr("href", "/pages/" + title + "/pretty");
          $("#share").attr("href", "/pages/" + title + "/share");
          editor.focus();
        },
        complete: function() {
          ui.mark_ready();          
        }
      });
    }

    $("#pages li").click(get_page);

    CodeMirror.keyMap.mxvt = {
      "Ctrl-1": function(cm) { mxvt.markdown.heading(cm, 1) },
      "Ctrl-2": function(cm) { mxvt.markdown.heading(cm, 2) },
      "Ctrl-3": function(cm) { mxvt.markdown.heading(cm, 3) },
      "Ctrl-4": function(cm) { mxvt.markdown.heading(cm, 4) },
      "Ctrl-5": function(cm) { mxvt.markdown.heading(cm, 5) },
      "Ctrl-6": function(cm) { mxvt.markdown.heading(cm, 6) },
      // "Shift-Ctrl-S": function(cm) { ui.save(); },
      // "Shift-Ctrl-V": function(cm) { ui.preview(); },
      // "Shift-Ctrl-D": function(cm) { ui.delete_page(); },
      "Ctrl-B": function(cm) { mxvt.markdown.strongify(cm) },
      "Ctrl-I": function(cm) { mxvt.markdown.emphasize(cm) },
      "Shift-Ctrl-K": function(cm) { cm.removeLine(cm.getCursor(true).line) },
      fallthrough: ["default"]
    };

    editor = CodeMirror.fromTextArea(document.getElementById("page_editor"), {
      mode: "markdown",
      lineNumbers: false,
      matchBrackets: true,
      theme: "<%=@theme %>",
      keyMap: "mxvt",
      tabSize: 2,
      gutter: false,
      autoClearEmptyLines: false,
      lineWrapping: true//,
      // onScroll: function(e) {
      //   // console.log(e.cursorCoords(true, "page"));
      //   var y = e.cursorCoords(true, "page").y;
      //   if (y > $(window).height() - 40) {
      //     console.log("i be scrolling to: " + (y - $(window).height() ));
      //     window.scrollTo(0, e.cursorCoords(true, "page").y - $(window).height() + 40)
      //   }
      //   // e.refresh();
      //   // var editor = e.getWrapperElement();
      //   // var editorScroll = $(editor).find('.CodeMirror-scroll');
      //   // if (editorScroll.length > 0)
      //     // console.log($(editorScroll).css("height"))
      // }
    });

    ui.editor = editor;
    ui.actions = $("#page_actions");

    ui.on_action("save_content", function() {
      ui.save();
    });

    // ui.on_action("zoom_in", function() {
    //   $(".CodeMirror").css("font-size", parseInt($(".CodeMirror").css("font-size")) + 2);
    //   $(".CodeMirror").css("line-height", (parseInt($(".CodeMirror").css("line-height")) + 2) + "px");
    // });

    // ui.on_action("zoom_out", function() {
    //   $(".CodeMirror").css("font-size", parseInt($(".CodeMirror").css("font-size")) - 2);
    //   $(".CodeMirror").css("line-height", (parseInt($(".CodeMirror").css("line-height")) - 2) + "px");
    // });

    ui.on_action("change_font", function() {
      var font = $("#page_actions select :selected").attr("value");
      console.log("Font: " + font);
      $(".CodeMirror").css("font-family", font);
    });

    $("#increase_height").click(function() {
      var step = parseInt($(".CodeMirror").css("line-height"));
      $(".CodeMirror-scroll").css("min-height", 
        (parseInt($(".CodeMirror-scroll").css("min-height")) + step) +"px");
      editor.refresh();
    });
    $("#decrease_height").click(function() {
      var step = parseInt($(".CodeMirror").css("line-height"));
      $(".CodeMirror-scroll").css("min-height", 
        (parseInt($(".CodeMirror-scroll").css("min-height")) - step) +"px");
      editor.refresh();
    });


    shortcut.add("ctrl+alt+s", function() { ui.save(); })
    shortcut.add("ctrl+alt+v", function() { ui.preview(); })
    shortcut.add("ctrl+alt+d", function() { ui.delete(); })
    shortcut.add("ctrl+alt+c", function() { $("#new_page").click(); })
    shortcut.add("ctrl+alt+e", function() { ui.editor.focus(); })
    shortcut.add("ctrl+alt+a", function() { 
      if ($("#pages li.selected").length == 1)
        $("#pages li.selected").focus();
      else
        $("#pages li:first").focus();
    })

    var disable_scrolling = function(e){
      switch(e.keyCode){
        case 37: case 39: case 38:  case 40: // Arrow keys
        case 32: e.preventDefault(); break; // Space
        default: break; // do not block other keys
      }
    }
    

    $("#pages li").focusin(function() {
      console.log("binding movement")
      window.addEventListener("keyup", disable_scrolling, false);
      $(this).bind('keydown', function(e) {
        if (e.keyCode == 38)
          $(this).prev("li").focus();
        else if (e.keyCode == 40)
          $(this).next("li").focus();
        else if (e.keyCode == 13)
          $(this).click();
        else
          return true;

        e.preventDefault();
        return false;
      });
    }/*, */).focusout(function() {
      console.log("unbinding movement")
      $(this).unbind('keydown');
      window.removeEventListener("keyup", disable_scrolling, false);
    });

    $("#new_page").click(function() {
      console.log("creating a page")
      ui.status("Creating a new page...", "pending");

      $.ajax({
        url: "/pages",
        type: "POST",
        success: function(page_id) {
          console.log("page created successfully")
          var new_page = "<li id=\"page_" + page_id + "\">page #" + page_id + "</li>";
          $("#pages ul").prepend(new_page);
          $("#pages li.selected").removeClass("selected");
          // $("#pages ul li:first").addClass("selected").click(get_page);
          $("#pages ul li:first").click(get_page);
          // $("#page_actions").removeClass("disabled");
          ui.editor.setValue("Write your text here.");
          // ui.editor.focus();
          $("#pages ul li:first").click();
        },
        error: function(e) {
          console.log("smth bad happened")
          console.log(e)
        }
      });
    });

    $("#page_actions a").click(function() {
      return ui.action($(this).attr("id"));
    });
    $("#page_actions select").change(function() {
      return ui.action($(this).attr("id"));
    });

    
  }); 
</script>
  <!-- apply user preferences -->
  <style>
    .CodeMirror {
      font-family: <%= Preferences::FontMap[preferences["editing"]["font_face"]] %>;
      font-size: <%= preferences["editing"]["font_size"].to_i %>px;
      line-height: <%= preferences["editing"]["line_height"].to_i %>px;
    }
  </style>
<% end %>

<% content_for :title do %>
  Naughty
<% end %>

<div id="pages">
  <a tabindex="1" href="#" id="new_page">start a new page</a>
  <input type="text" id="title_editor" hidden="hidden" />
  <ul>
    <% logged_in? && @pages.each_with_index do |p, pidx| %>
      <li tabindex="<%= pidx + 2 %>" id="page_<%= p.id %>"><%= p.title == "Untitled" ? "page ##{p.id}" : p.title %></li>
    <% end %>
  </ul>

</div><div id="editor_container"><!--

--><div class="disabled" id="page_actions">
  <a href="#" title="Saves the content of this page (Ctrl+Alt+S)" id="save_content">Save</a> &bullet;
<!--   <a href="#" title="Increases the font size of the editor" id="zoom_in">Zoom in</a> &bullet;
  <a href="#" title="Decreases the font size of the editor" id="zoom_out">Zoom out</a> &bullet; -->
  <a target="Naughty - Preview" 
        title="View the current page in prettified HTML mode in a new tab (Ctrl+Alt+V)" 
        href="/pages/x/pretty" id="preview">Pretty Version</a> &bullet;
  <a target="Naughty" 
      title="Make a public version of this page that you can share with people" 
      href="/pages/x/share" id="share">Share this</a> &bullet;
  <a id="delete_page" class="confirm"
     data-confirmation="Are you sure you want this page to be FOREVER deleted?"
     data-confirmation-cb="delete_page"
     title="Deletes the page forever (Ctrl+Alt+D)">Delete</a> &bullet;
  <a href="#" title="Increase the height of the editor" id="increase_height">Grow</a> &bullet;
  <a href="#" title="Decrease the height of the editor" id="decrease_height">Shrink</a>
</div><textarea id="page_editor"><%= erb :"/tutorial" %></textarea>
</div>
<img class="loader" src="/css/ajax-loader.gif" />

<!-- Confirm Dialog -->
<div class="jqmConfirm" id="confirm">
  <div id="ex3b" class="jqmConfirmWindow">
      <div class="jqmConfirmTitle clearfix">
      <h1>Confirm your action</h1><a href="#" class="jqmClose"><em>X</em></a>
    </div>
    
    <div class="jqmConfirmContent">
    <p class="jqmConfirmMsg"></p>
    <!-- <p>Continue?</p> -->
    </div>
    
    <input type="submit" value="Cancel" />
    <input type="submit" value="Yes" />
    
  </div>
</div>