<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><% yield_content :title %></title>
  <!-- <title>notebook.mxvt</title> -->

  <script type="text/javascript" src="/js/json2.min.js"></script>
  <script type="text/javascript" src="/js/jquery.1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/shortcut.js"></script>
  <link href="/css/fonts/proximanova/proximanova.css" rel="stylesheet" type="text/css" />
  <link href="/css/fonts/ubuntu/stylesheet.css" rel="stylesheet" type="text/css" />
  <link href="/css/fonts/ubuntu-mono/stylesheet.css" rel="stylesheet" type="text/css" />
  <link href="/css/pagehub.css" rel="stylesheet" type="text/css" />

  <% if !flash.empty? %>
    <script type="text/javascript">
      marker = null;

      $(function() {
        $("#flashes button").click(function() {
          $(this).parent().next("hr:first").remove();
          $(this).parent().addClass("hidden");
          $(".flash_wrap").addClass("hidden");
        });
      });

    </script>
  <% end %>

  <% if logged_in? then %>
    <style>
      footer { display: none; }
    </style>

    <script>
      pagehub_settings = <%= preferences.to_json %>;

      $(function() {
        ui.theme = "<%= @theme %>";

        $("a[id].listlike").click(function() {
          if ($(this).parent("[disabled],:disabled,.disabled").length > 0)
            return false;

          $("a.listlike[id!=" + $(this).attr("id") + "].selected").removeClass("selected");
          $("ol.listlike[id!=" + $(this).attr("id").replace("_links", "") + "]").hide();
          var list = $(this).next("ol");
          list.toggle();
          $(this).toggleClass("selected");

          // if (list.width() < $(this).width()) {
          //   var my_width = 
          //     $(this).width() 
          //     + parseInt($(this).css("padding-left"))
          //     + parseInt($(this).css("padding-right"));
          //   list.css("width", (my_width) + "px");
          // }

          list.css("left", $(this).position().left)

          return false;
        })
      });

    </script>

    <script src="/js/pagehub.js"></script>
    <script src="/js/pagehub_ui.js"></script>
    
  <% end %>

  <% yield_content :scripts %>

  <link href="/css/skins/<%= preferences["pagehub"]["skin"] %>.css" rel="stylesheet" type="text/css" />
</head>

<body class="member">

  <div class="header_wrap">
  </div>
  <!-- <div class="flash_wrap <%= flash.empty? ? 'hidden' : '' %>"> -->
  <!-- </div> -->

  <% yield_content :wraps %>

  <div class="stuff">
    <header>
      <h1><a href="/">Page<em>Hub</em></a></h1>
    </header>
    
    <nav>
      <% if logged_in? %>
        <div id="admin_actions">
          <span>Hi <%= current_user.nickname %></span>
          <a class="listlike" id="groups_links" href="/groups">Groups</a>
          <ol class="listlike" id="groups">
            <li><a href="/groups/new">New group</a></li>
            <% current_user.groups.each do |g| %>
              <li><a href="/groups/<%= g.name %>"><%= g.title %></a></li>
            <% end %>
          </ol>
          <a class="listlike" id="help_articles_links" href="/help">Help</a>
          <%= erb :"/shared/_nav_help_links" %>
          <a class="listlike" id="account_settings_links" href="/account">Account</a>
          <%= erb :"/shared/_nav_account_links" %>
        </div>
      <% else %>
        <a id="login" href="/login">login</a>
        <a href="/signup">signup</a>
      <% end %>
    </nav>

    <div id="content">
      <div id="status">
      </div>

      <% if !flash.empty? %>
        <div id="flashes">
          <% if flash.size > 1 then %>
            <ol>
              <% flash.each_pair do |ctx,msg| %>
                <li class="flash <%= ctx %>"><%= msg %></li>
              <% end %>
            </ol>
          <% else %>
            <% flash.each_pair do |ctx,msg| %>
              <span class="flash <%= ctx %>"><%= msg %></span>
            <% end %>
          <% end %>
          <button>&times;</button>
        </div>
      <% end %>


      <%= yield %>
    </div>

    <% if logged_in? %>
      <%= erb(:"shared/_skin_switcher") %>
    <% end %>

  </div>

  <%# erb :"footer" %>
  
</body>

</html>
