<% content_for :title do %> Editing - Settings | <%= current_user.nickname %> | PageHub <% end %>

<%= erb :"users/settings/_nav" %>
<%= erb :"/shared/_editor" %>

<% content_for :css do %>
<style>
  .settings .CodeMirror {
    font-family: "<%= Preferences::FontMap[preferences["editing"]["font_face"]] %>";
    font-size: <%= preferences["editing"]["font_size"] %>px;
    line-height: <%= preferences["editing"]["line_height"] %>px;
    letter-spacing: <%= preferences["editing"]["letter_spacing"] %>px;
  }
</style>
<% end %>

<% content_for :js do %>
<script>
  $(function() {
    ui.editor = editor = ui.create_editor("preview_editor", {
      readOnly: true
    });

    $("input[type=radio][name*=editing]").change(function() { 
      var ff = $(this).parent().css("font-family");
      console.log(ff)
      $(".CodeMirror").css("font-family", ff);
    });
    $("input[type=text][name*=editing\\\]\\\[font_size]").keyup(function(e) {
      if (e.keyCode == 38) { $(this).attr("value", parseInt($(this).attr("value")) + 1);}
      else if (e.keyCode == 40) { $(this).attr("value", parseInt($(this).attr("value")) - 1);}
      $(".CodeMirror").css("font-size", parseInt($(this).attr("value") || 1) + "px");
    });
    $("input[type=text][name*=editing\\\]\\\[line_height]").keyup(function(e) {
      if (e.keyCode == 38) { $(this).attr("value", parseInt($(this).attr("value")) + 1);}
      else if (e.keyCode == 40) { $(this).attr("value", parseInt($(this).attr("value")) - 1);}
      $(".CodeMirror").css("line-height", parseInt($(this).attr("value") || 1) + "px");
    });
    $("input[type=text][name*=editing\\\]\\\[letter_spacing]").keyup(function(e) {
      if (e.keyCode == 38) { $(this).attr("value", parseInt($(this).attr("value")) + 1);}
      else if (e.keyCode == 40) { $(this).attr("value", parseInt($(this).attr("value")) - 1);}
      $(".CodeMirror").css("letter-spacing", parseInt($(this).attr("value") || 0) + "px");
    });
  });
</script>
<% end %>

<form action="/settings/editing" method="POST">
  <section id="editor_settings">
    <h2>Editing settings</h2>

    <p>These settings will apply only to PageHub's editor and <em>not</em>
      to the pretty versions of your pages.</p>

    <h3>Autosaving</h3>
    <label>
      <input type="checkbox" name="settings[editing][autosave]"
              <%= preferences["editing"]["autosave"] ? "checked='checked'" : "" %> />
      Automatically save while editing (every 30 seconds)
    </label>

    <h3>Font face</h3>
    
      <% Preferences::FontMap.each_pair do |name, font| %>
        <label style="font-family: <%= font %>; font-size: 14px">
          <input 
          type="radio" name="settings[editing][font_face]" 
          value="<%=name%>"
          <%= preferences["editing"]["font_face"] == name ? "checked='checked'" : "" %>
          ><%= name %></input>
        </label>
        <br />
      <% end %>
    <h3>Font size &times; Line height &times; Letter spacing</h3>
      <input 
        type="text" name="settings[editing][font_size]"
        autocomplete="off"
        class="very_fat"
        style="text-align: center; width: 70px; font-size: 20px; vertical-align: middle;"
        value="<%= preferences["editing"]["font_size"] %>" /> 
      <span style="font-size: 18px;">&nbsp;x&nbsp;</span>
      <input 
        type="text" name="settings[editing][line_height]"
        autocomplete="off"
        class="very_fat"
        style="text-align: center; width: 70px; font-size: 20px; vertical-align: middle;"
        value="<%= preferences["editing"]["line_height"] %>" /> 
      <span style="font-size: 18px;">&nbsp;x&nbsp;</span>
      <input 
        type="text" name="settings[editing][letter_spacing]"
        autocomplete="off"
        class="very_fat"
        style="text-align: center; width: 70px; font-size: 20px; vertical-align: middle;"
        value="<%= preferences["editing"]["letter_spacing"] %>" /> 
      <span style="font-size: 18px;">px</span>
    <section class="editor_preview">
      <span class="curly">&rarr;</span>
      <small>preview</small>
      <!-- <h3>Editor preview</h3> -->
      <textarea readonly="readonly" id="preview_editor"><%
  %># A sample

This is how text in the editor will look like using the font face you've chosen with the specified dimensions.

* A chicken
* A dog
* A goose

I'm **bold** and I'm *not*.
</textarea>
    </section>
  </section>

  <br />
  <input type="submit" value="Update preferences" />
</form>