<%= partial "users/settings/_nav" %>

<% content_for :nav_section do %>settings<% end %>
<% content_for :deferred_js do %>
<script>
  require([ 'views/users/settings/index' ], function(SettingsView) {
    application.view = new SettingsView(application);
  })
</script>
<% end %>

<div id="settings" style="display: none;">
  <%= partial :"users/settings/profile" %>
  <%= partial :"users/settings/account" %>
  <%= partial :"users/settings/editing" %>
  <%= partial :"users/settings/spaces" %>
</div>