<% content_for :title do %> Profile - Settings | <%= current_user.nickname %> | PageHub <% end %>

<%= erb :"users/settings/_nav" %>
<% content_for :js do %>
<script>
  $(function() {
  });
</script>
<% end %>

<form action="/settings/profile" method="POST">
  <section>
    <h2>Profile</h2>
    <p>When people visit your <a href="<%= current_user.profile_url %>">public profile</a>
      they will get to see your name, avatar, and your publicly shared pages.</p>

    <label>Full name<br />
      <input type="text" name="name" class="fat" value="<%= current_user.name %>" />
    </label>

    <br />
    <br />

    <label>Gravatar email<br />
      <input type="text" name="gravatar_email" class="fat" value="<%= current_user.gravatar_email || current_user.email %>" />
      <br />
      <br />
      <%= gravatar_tag current_user, :default, html: { style: "vertical-align: middle;" } %>
      <span>Change your avatar at <a href="http://www.gravatar.com">gravatar.com</a></span>
    </label>
  </section>
  <section>
    <h2>Email address</h2>
    <label>Your primary email address where we can reach you: <small><em>(not visible to people)</em></small>
      <br />
      <input type="text" name="email" class="very_fat" value="<%= current_user.email %>" />
      <% unless current_user.verified? current_user.email %>
        <a href="/settings/verify/primary" class="button thin bad">Verify</a>
      <% else %>
        <span>Verified</span>
      <% end %>
    </label>
  </section>

  <br />
  <input type="submit" value="Update Profile" />
</form>
