<form id="user_spaces_settings">
  <fieldset>
    <legend>Space memberships</legend>

    <p>You are currently a member of <%= pluralize(current_user.spaces.count, "space") %>.</p>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Space</th>
          <th>Contributions</th>
          <th>Membership Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <% labels = { 'member' => '', 'editor' => '', 'admin' => 'label-inverse', 'creator' => 'label-important' } %>
      <% @__space = @space %>
      <% @user.spaces.each do |s| %>
        <% @space = s %>
        <tr data-space="<%= s.id %>">
          <td><a href="<%= s.url %>"><%= fq_space_title s %></a></td>
          <td><%= pluralize(s.pages({ creator: @user }).count, "page" ) %></td>
          <td><span class="label span1 text-center <%= labels[s.role_of(@user)] %>"><%= s.role_of(@user).capitalize %></span></td>
          <td>
            <div class="btn-group">
            <% if can? :update, s %>
              <a href="<%= s.url %>/edit/general" class="btn btn-small">Manage</a>
            <% end %>
            <% unless s.is_creator?(@user) %>
              <button data-role="leave_space" class="btn btn-danger btn-small">Leave</button>
            <% end %>
          </div>
          </td>
        </tr>
      <% end %>
      <% @space = @__space %>
    </table>

  </fieldset>
</form>