<% no_title ||= false %>
<% show_homepages ||= @space.is_on?("publishing.layout.show_homepages_in_sidebar") %>
<% coll ||= nil %>

<section class="group_listing">
  <% unless no_title %><header><h1>Navigation</h1></header><% end %>
  <ul>
    <%
    traverse_space(@space, {
      on_page: lambda { |p| %>
        <% return if !show_homepages && p.is_homepage? %>
        <% selected = @page && @page.id == p.id ? 'class="selected"' : '' %>
        <% url = selected.empty? ? "href=\"#{p.href}\"" : '' %>
        <li>
          <label>
            <a <%= selected %> <%= url %>><%= p.title %></a>
          </label>
        </li>
      <% },

      on_folder: lambda { |f| %>
        <% selected = @folder && @folder.id == f.id ? 'class="selected"' : '' %>
        <% is_empty = f.empty?(:public) %>
        <% folder_title = f.is_root_folder? ? f.space.title : f.title %>

        <li <%= 'class="root-folder"' if f.is_root_folder? %>>
          <label>
            <% if f.pages.all({ browsable:true }).empty? || !f.has_homepage? %>
              <strong><%= folder_title %></strong>
            <% else %>
              <strong><a <%= selected %> href="<%= f.href %>"><%= folder_title %></a></strong>
            <% end %>
          </label>
          <ol>
          <% if is_empty %>
            <li><em>No pages.</em></li>
          <% end %>
      <% },

      on_folder_done: lambda { |f| %>
        </ol></li>
      <% }
    }, { browsable: true }, coll)
   %>
  </ul>
</section>