<% content_for :title do %> <%= @group.title %> | PageHub <% end %>

<%= partial "/shared/_editor" %>

<% content_for :js do %>

<script type="text/javascript">

  $(function() {

    Space = <%= rabl :"spaces/show", object: @space %>;
    // pagehub.namespace = "/groups/<%= @group.id %>";

    /* --- ------ *
     * The Editor *
     * --- ------ */
    ui.editor = editor = ui.create_editor("page_editor");
    ui.actions = $("#page_actions");

    // Resize it to fill up the remainder of the screen's height
    var editor_h = $(window).height() - 135;
    // $(".CodeMirror-scroll").css("min-height", editor_h + "px");
    $(".CodeMirror").css("height", editor_h + "px");
    // ui.editor.refresh();
    // and the page listing
    $("#pages .scroller").css("max-height", $(window).height() - 135);

    data = <%= @group.folder_pages.to_json %>;
    dynamism.inject(data, $("#page_listing"));

  });
</script>
<% end %>

<% content_for :header do %>
  <h3><a href="<%= @space.url %>"><%= @space.title %></a>
    <small><a style="padding: 0; margin: 0" href="<%= @space.url %>/settings"><em>settings</em></a></small>
  </h3>
<% end %>

<%= partial "/shared/_resource_listing", locals: { editor_content: "Load or create a new page to begin." } %>

<%= partial "/shared/_confirmation_dlg" %>