<% content_for :title do %> <%= @group.title %> - Settings | PageHub <% end %>

<% content_for :header do %>
  <h3><a href="/groups/<%=@group.name%>"><%= @group.title %></a>
    <small><a style="padding: 0; margin: 0" href="/groups/<%= @group.name %>/info"><em>info</em></a></small>
  </h3>
<% end %>

<% @editing = true %>
<%= partial "/groups/_form" %>