<% content_for :title do %> <%= @group.title %> - Info | PageHub <% end %>

<% content_for :header do %>
  <h3><a href="/groups/<%=@group.name%>"><%= @group.title %></a>
    <small><a style="padding: 0; margin: 0" href="/groups/<%= @group.name %>/info"><em>info</em></a></small>
  </h3>
<% end %>

<h2><a href="/groups/<%= @group.name %>"><%= @group.title %></a>
  <% if @group.is_admin?(current_user)%>
    <small><a href="/groups/<%= @group.name %>/edit"><em>manage</em></a></small>
  <% end %>
</h2>

<h3>Pages</h3>
<ol>
  <% @group.pages.each do |p| %>
    <li><a href="/<%= @group.name %>/<%= p.pretty_title %>"><%= p.title %></a> <small>(by <%= p.user.nickname %>)</small></li>
  <% end %>
</ol>

<h3>Public Pages</h3>

<p>Here's a list of all the pages you've currently shared. 
  Clicking on them will take you to the public link that you can share with others.</p>

<ol>
<% @group.public_pages.each do |pp| %>
  <li><a href="<%= pp.url %>"><%= pp.page.title %></a>
    <% if @group.is_editor?(current_user) %>
     <small>
        -
        <em>
          <a href="/groups/<%= @group.id %>/pages/<%= pp.page.id %>/unshare">unshare it</a>
        </em>
      </small>
    <% end %>
  </li>
<% end %>
</ol>

<h3>
<h3>Members</h3>
<ol>
  <% @group.users.each do |u| %>
    <li><%= u.nickname %></li>
  <% end %>
</ol>
