<% content_for :title do %> <%= @group.title %> | PageHub <% end %>

<%= erb :"/shared/_editor" %>

<% content_for :scripts do %>

<script type="text/javascript">

  $(function() {

    pagehub.namespace = "/groups/<%= @group.id %>";
    
    /* --- ------ *
     * The Editor *
     * --- ------ */
    ui.editor = editor = ui.create_editor("page_editor");
    ui.actions = $("#page_actions");

    // Resize it to fill up the remainder of the screen's height
    var editor_h = $(window).height() - 128;
    $(".CodeMirror-scroll").css("min-height", editor_h + "px");
    ui.editor.refresh();
    // and the page listing
    $("#pages .scroller").css("max-height", $(window).height() - 128);  

    data = <%= @group.all_pages.to_json %>;
    dynamism.inject(data, $("#page_listing"));

  }); 
</script>
<% end %>

<% content_for :header do %>
  <h3><a href="/groups/<%=@group.name%>"><%= @group.title %></a>
    <small><a style="padding: 0; margin: 0" href="/groups/<%= @group.name %>/info">( info )</a></small>
  </h3>
<% end %>

<%= erb :"/shared/_resource_listing", locals: { editor_content: "Load or create a new page to begin." } %>

<%= erb :"/shared/_confirmation_dlg" %>