<% content_for :section do %>revisions<% end %>

<%= partial "/shared/_editor" %>

<% content_for :deferred_js do %>
<script>
  pagehub_hooks.push(
    require([ 'views/spaces/editor' ],function(Editor) {
      var editor = new Editor({ config: { readOnly: true } });
      editor.resize_editor(250);
    })
  );
</script>
<% end %>

<p>There <a href="<%= @page.revisions_url %>"><%= 'revision'.pluralize(@page.revisions.count, true) %></a> for this page.
  You are currently viewing revision <strong><code><%= @rv.pretty_version %></code></strong>
  which was committed by <strong><%= @rv.editor == current_user ? "you" :  @rv.editor.nickname %></strong>
  on <%= pretty_time @rv.created_at %>.
</p>

<div class="spanner">
  <% if @prev_rv %>
    <a href='<%= @prev_rv.url %>' class="left plain thin button">&larr; Previous revision</a>
  <% end %>

  <% if @next_rv %>
    <a href='<%= @next_rv.url %>' class="right plain thin button">Next revision &rarr;</a>
  <% end %>

</div>

<div class="block">
  <% if @rv %>
    <h2><%= h @page.title %> at <%= @rv.pretty_version %></h2>
  <% else %>
    <h2><%= h @page.title %> - Original copy</code></h2>
  <% end %>

  <% snapshot = @page.snapshot(@rv) %>
  <textarea id="page_editor"><%= snapshot %></textarea>
</div>

<div id="changes" class="block">
  <% if @prev_rv %>
    <h2>Changes from
      <strong><%= @prev_rv.pretty_version %></strong>
      &rarr;
      <strong><%= @rv.pretty_version %></strong>
    </h2>

    <%
      diffs = Marshal.load @rv.blob
      out = ""
      count = { :additions => 0, :deletions => 0 }
    
      diffs.each { |dset|
        dset.each { |d|
          action = ""
          if d.action == '-'
            action = "del"
            count[:deletions] += 1
          else
            count[:additions] += 1
            action = "ins"
          end
          out += "<#{action}>#{d.action} #{d.element}</#{action}>\n"
        }
      }
    %>
    <pre><%= count[:additions] %> line(s) were added, <%= count[:deletions] %> were removed or modified:
<%= out %></pre>
  <% else %>
  <h2>N/A</h2>
  <p>This is the original revision, there's nothing to compare it to.</p>
  <% end %>

<% if @next_rv %>
  <div class="spanner">
    <form action="<%= @rv.url %>" method="POST">
      <h3>Rollback</h3>
      <p><strong><em>WARNING: </strong>Rolling back will cause all edits made <strong>after</strong> this revision
          to be <strong>LOST FOREVER</strong> -- this action is <strong>irreversible</strong>.
        </em>
      </p>
      <p><label><input name="confirmed" type="checkbox" value="do it" />I have read the warning, do it!</label></p>
      <p>
        <input type="submit" class="button bad thin" value="Rollback to this version" />
      </p>
    </form>
  </div>
<% else %>
  <p><em>This is your latest revision, you can not roll back to it.</em></p>
<% end %>  
</div>

