<% content_for :subnav do %>
  <li><a href="<%= @space.url %>/edit/publishing/layout">Layout</a></li>
  <li><a href="<%= @space.url %>/edit/publishing/theme">Theme</a></li>
  <li><a href="<%= @space.url %>/edit/publishing/navigation_links">Navigation Links</a></li>
  <li><a href="<%= @space.url %>/edit/publishing/custom_css">Custom CSS</a></li>
<% end %>

<%= partial "spaces/settings/_nav" %>
