<%#= partial "spaces/settings/publishing/_nav" %>

<% content_for :publishing_setting_form do %>
  <form id="layout_settings">
    <h1>Publishing Layout</h1>

    <% layouts = {
      "Fluid" => "fluid",
      "Easy read" => "easy"
    } %>

    <% layouts.each_pair do |layout, css| %>
      <label>
        <input type="radio" name="name" value="<%= css %>" <%= checkify('publishing.layout.name') %> />
        <%= layout %>
      </label>
    <% end %>

    <p>
      <label>
        <input type="checkbox" name="show_homepages_in_sidebar" value="true"
          <%= checkify('publishing.layout.show_homepages_in_sidebar') %> />
          Show 'README' pages in sidebar
      </label>
    </p>

    <p>
      <label>
        <input type="checkbox" name="show_breadcrumbs" value="true"
        <%= checkify('publishing.layout.show_breadcrumbs') %> />
          Show breadcrumbs
      </label>
    </p>

  </form>
<% end %>

<%#= partial "spaces/settings/publishing/_form" %>