<% def dump_page(p) %>
  <li>
  <% if @page && @page.id == p.id %>
    <span class="selected"><%= p.title %></span>
  <% else %>
    <a href="<%= p.public_url %>"><%= p.title %></a>
  <% end %>
  </li>
<% end %>

<% def dump_folder(f) %>
  <ol>
    <li <%= 'class="selected"' if @folder && @folder.id == f.id %>>
      <strong><a href="<%= f.public_url %>"><%= f.title %></a></strong></li>
    <% if f.pages.empty? %>
      <li><em>This folder is empty.</em></li>
    <% else %>
      <% f.pages.each do |p| %>
        <% dump_page(p) %>
      <% end %>
    <% end %>

    <% f.folders.all({folder_id: f.id }).each { |cf| dump_folder(cf) } %>
  </ol>
<% end %>

<% content_for :sidebar do %>
  <div id="group_listing">
    <h2>Pages</h2>
    <ul>
      <% @group.pages.all({ folder: nil }).each { |p| dump_page p } %>
      <% @group.folders.all({ conditions: { folder_id: nil }, order: [ :title.asc ] }).each { |tlf| dump_folder(tlf) } %>
    </ul>
  </div>
<% end %>