<% content_for :js do %>
<% end %>

<% content_for :header do %>
  <h1><a href="<%= @group.public_url %>"><%= @group.title %></a></h1>
<% end %>

<%= partial "/groups/public/_breadcrumbs" %>

<% if home_page = @group.pages({ title: "Home", folder_id: nil }).first %>
  <%= md home_page.content %>
<% end %>

<%= partial "/groups/public/_listing" %>