<% content_for :title do %> <%= @page.title %> | PageHub <% end %>

<% content_for :css do %>
  <link rel="stylesheet" href="/css/code_highlighting.css" />
<% end %>

<% content_for :header do %>
  <% if @group then %>
    <h1><a href="<%= @group.public_url %>"><%= @group.title %></a></h1>
  <% elsif @public then %>
    <h1><a href="<%= @page.public_url true %>"><%= @page.title %></a></h1>
  <% else %>
    <h1><%= @page.title %></h1>
  <% end %>
<% end %>

<% if @group %>
  <% @folder ||= @page %>
  <%= partial "/groups/public/_breadcrumbs" %>
<% end %>

<% if @page.content.empty? %>
  <p>This page is a stub.</p>
<% else %>
  <%= @page.content.to_markdown %>
<% end %>

<% if @group %>
  <%= partial "/groups/public/_listing" %>
<% end %>