<% content_for :title do %> <%= @page.title %> | PageHub <% end %>
<% content_for :section do %><%= p('publishing.layout.name') %><% end %>

<% content_for :header do %>
  <% if @group %>
    <%= partial "groups/public/_heading", locals: { page: @page } %>
  <% elsif @public then %>
    <!-- <h1><a href="<%= @page.public_url true %>"><%= @page.title %></a></h1> -->
    <%= partial "groups/public/_heading", locals: { page: @page } %>
  <% else %>
  <%= partial "groups/public/_heading", locals: { page: @page } %>
  <% end %>
<% end %>

<% if @group %>
  <% @folder ||= @page %>
  
  <%= partial "/groups/public/_breadcrumbs" if is_on('publishing.layout.show_breadcrumbs') %>
  
  <% content_for :sidebar do %>
    <%= partial "/groups/public/_listing" %>
  <% end %>  
<% end %>

<% if @page.nil? || @page.content.empty? %>
  <p>This page is a stub.</p>
<% else %>
  <%= @page.content.to_markdown %>
<% end %>
