<% content_for :title do %> Public Pages - <%= current_user.nickname %> | PageHub <% end %>

<h2>Public Pages</h2>

<p>Here's a list of all the pages you've currently shared. 
  Clicking on them will take you to the public link that you can share with others.</p>

<ol>
<% @pages.each do |p| %>
  <li><a href="<%= p.public_url true %>"><%= p.title %></a>
    <small>
      -
      <em>
        <a href="/pages/<%= p.id %>/unshare">unshare it</a>
      </em>
    </small>
  </li>
<% end %>
</ol>

<% if false %>

  <h3>Group Shares</h3>
  <% current_user.groups.each do |g| %>
    <% user_group_pages = g.pages.all({ user_id: current_user.id }) %>
    <h4><%= g.title %> <small>(<%= user_group_pages.size %> pages shared)</small></h4>
    <ol>
    <% user_group_pages.each do |p| %>
      <li>
        <a href="/<%= g.name %>/<%= p.pretty_title %>"><%= p.title %></a>
        <small> - <em><a href="/pages/<%= p.id %>/unshare/<%= g.id %>">unshare it</a></em></small>
      </li>
    <% end %>
    </ol>
  <% end %>

<% end %>