<% content_for(:title) { "Membership Settings | #{@group.title} | PageHub" } %>
<% content_for(:section) { "memberships " } %>

<%= partial "groups/settings/_nav" %>

<% content_for :js do %>
<script>
  $(function() {

    var lookup_timer = null;
    var lookup_pulse = <%= preferences["groups"]["lookup_pulse"] %>;
    var gid = <%= @group.id %>;

    $("form").submit(function() {
      $(this).find("[data-dyn-entity]:hidden").remove();

      return true;
    });

    // List of registered users (their nicknames)
    var users = [];
    var admins = <%= @group.admin_nicknames.to_json %>;

    // Appends a <li> containing the nickname and a remove button
    // to the registered user listing - #users
    var add_user = function(nn) {
      dynamism.inject({ users: [ { nickname: nn, role: "member" } ]}, $("table"))
    }

    // Clicking on a received nickname will add it
    // to the registered members listing - #users
    var bind_user_listing = function(list) {
      list.find("li").click(function() {
        var nn = $(this).html();

        // don't add a user twice
        log(users + " => " + nn )
        for (var i = 0; i < users.length; ++i) {
          if (users[i] == nn)
            return false;
        }

        list.empty();
        add_user(nn);
      });
    }

    // Populates the #user_listing with all the nicknames
    // starting with $("#user_search").attr("value")
    lookup_user = function(nn) {
      var list = $("#user_listing");

      $.ajax({
        url: "/users/nickname",
        method: "GET",
        data: { nickname: nn },
        success: function(users) {
          var users = JSON.parse(users);
          console.log(users)

          list.empty();

          if (users.length > 0) {
            for (var i = 0; i < users.length; ++i) {
              list.append("<li>" + users[i] + "</li>");
            }
          }

          bind_user_listing(list);
        }
      })
    }

    // Queues a lookup after lookup_pulse milliseconds
    $("#user_search").keyup(function() {
      var nn = $(this).attr("value");

      if (lookup_timer) {
        clearTimeout(lookup_timer);
        lookup_timer = null;
      }


      lookup_timer = setTimeout("lookup_user('" + nn + "')", lookup_pulse);
    });

    // check the member's role radio button
    assign_role = function(el, user) {
      el.find(":checked").attr("checked", null);
      el.find("input[type=radio][value=" + user.role + "]").attr("checked", "checked");
    }

    var kicked = {};
    var kick_member = function(id, nn) {
      pagehub.groups.kick(id, gid, {
        success: function() {
          ui.status.show(nn + " is no longer a member of this group.", "good");
          kicked[id] = true;

          // re-initiate the UI removal event
          $("#user_" + id).find("[data-dyn-action=remove]").click();
        },
        error: function(e) {
          ui.status.show("Unable to kick the member " + nn + ": " + e.responseText, "bad");
        }
      });
    } // kick_member

    var on_kick_member = function(el) {
      var nn = el.find("input:hidden").attr("value"),
          id = el.attr("id").replace("user_", "");
      console.log(kicked);
      if (!kicked[id]) {

        // confirm kicking
        pagehub.confirm("Are you sure you want to kick the member " + nn + "?", "Member Removal",
          function() {
            kick_member(id, nn);
          });

        throw "Halt";
      } // removal confirmed?
    };

    dynamism.on_removal(on_kick_member);

    dynamism.inject(<%= @group.all_users.to_json %>, $("table"))
  });
</script>
<% end %>

<% conditionals = {
  heading: @editing ?
    "Group Management - <a href='/groups/#{@group.name}/info'>#{@group.title}</a>"
  : "Group Registration",
  form_action: @editing ? "/groups/#{@group.name}" : "/groups",
  submit_label: @editing ? "Update Group" : "Register Group",
  members_label: @editing ?
    'Look up users using the text box below.'
    : 'You can assign the initial members of this group. Of course, you can always add and remove members later.'
}
%>

<form action="<%= request.path %>" method="POST">
  <h2>Add Members</h2>
  <label>
    <%= conditionals[:members_label] %>
    <br /><br />
    <input type="text" id="user_search" autocomplete="off" class="very_fat" /> <small><em>(search by nickname)</em></small>
  </label>
  <ul class="user_listing" id="user_listing"></ul>
  <h2>Registered Members</h2>
  <table>
    <thead>
      <tr>
        <th>Nickname</th>
        <th>Role<br /><small>(Member/Editor/Admin)</small></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr id="user_%id" data-dyn-inject="@id, users.id" data-dyn-entity="users" data-dyn-hook="post-injection, assign_role"  data-dyn-spawn-on="users">
        <input type="hidden" name="users[-1][nickname]" data-dyn-inject="@value, users.nickname" />
        <td data-dyn-inject="@text, users.nickname">
          %nickname
        </td>
        <td>
          <label><input type="radio" name="users[-1][role]" value="member" checked="checked" /> M</label>
          <label><input type="radio" name="users[-1][role]" value="editor" /> E</label>
          <label><input type="radio" name="users[-1][role]" value="admin" /> A</label>
        </td>
        <td>
          <button class="very thin bad" data-dyn-action="remove">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <br />
  <input type="submit" value="Update" />

  <%= partial "/shared/_confirmation_dlg" %>

</form>


<div class="group_role_description">
  <h3>Group Roles</h3>
  <h4>Members</h4>
  <p>Members are limited to reading the pages
    written by the group editors.</p>
  <h4>Editors</h4>
    <p>Editors can
    write new pages and folders, edit existing ones, and rename them.</p>
  <h4>Admins</h4>
  <p>Administrators can invite new members,
    promote and demote them to and from
    the editorial role, and can kick non-admins.
    Admins get all the perks editors and members do.
  </p>
  <h4>Group creator</h4>
  <p>The group creator can change the group name, promote
    and demote others to/from the admin role, and kick admins.</p>
</div>