<% content_for(:title) { "Publishing Settings | #{@group.title} | PageHub" } %>

<%= partial "groups/settings/_nav" %>

<% content_for :js do %>
<script>
  $(function() {
    var colour_scheme_map =
      [ "Background", "Foreground", "Heading #1", "Heading #2", "Heading #3 and Links" ];

    $("span.scheme_colours").hover(function() {
      var idx = $(this).attr("class").substr(-1);
      // $(this).addClass("zoom").html(colour_scheme_map[idx]);
      $("#colour_explanation").html("Colour: " + colour_scheme_map[idx]);
    }, function() {
      $("#colour_explanation").html("Colour: &minus;");
      // $(this).removeClass("zoom").html("");
    });
  });
</script>
<% end %>
<form action="<%= request.path %>" method="POST">
  <h2>Publishing settings</h2>
  <p>These settings control the the looks of your <a href="<%= @group.public_url%>">public group space</a>.
    These settings override any personal scheme or settings.</p>

  <section>
    <h3>Colour Scheme</h3>

    <% schemes = {
      "Clean" => [ "FFF", "615B4E", "E94E77", "8FBE00", "333" ],
      "Hazzle Dazzle" => [ "443a34", "F4FAD2", "E94E77", "D4EE5E", "F0AD11" ],
      "Dusty" => [ "F0F2EB", "1C140D", "FF4242", "99173C", "5E8C6A" ],
      "Antimatter" => [ "111", "fff", "aaa", "bbb", "555" ],
      "None" => [ "fff", "fff", "fff", "fff", "fff" ]
    } %>
    <% schemes.each_pair do |scheme, colours| %>
      <label style="vertical-align: middle; font-size: 18px; margin-bottom: 5px; display: inline-block; width: 100%;">
        <div class="scheme_colour_group">
          <% colours.each_with_index do |hex, idx| %><!--
            --><span class="scheme_colours colour_<%=idx%>" style="background: #<%= hex %>;"></span><!--
          --><% end %>
        </div>
        <input  type="radio"
                style="vertical-align: middle;"
                name="settings[publishing][scheme]"
                value="<%= scheme %>"
                <%= preferences(@group)["publishing"]["scheme"] == scheme ? "checked='checked'" : "" %>
        />
        <%= scheme %>
        <small><a href="/testdrive?scheme=<%=scheme%>" target="_blank">preview</a></small>
      </label>
      <!-- <br /> -->
    <% end %>
    <span id="colour_explanation">Colour: &minus;</span>

  </section>
  <section>
    <h3>Custom CSS</h3>
    <p>You can also customize how your space look like by writing your own CSS code below.
      <a href="http://www.pagehub.org/pagehub/css-skinning">The skinning guide</a>
      contains a reference of the page structure, DOM, and everything you need
      for skinning.
    </p>

    <p>The custom CSS code is applied <em>after</em> the selected scheme is included, effectively overriding it.</p>

    <%= partial "/shared/_editor" %>
    <% content_for :js do %>
      <script>
        $(function() {
          ui.editor = editor = ui.create_editor("page_editor", {
            mode: "css"
          });

          $("form").submit(function() {
            ui.editor.save();
            return true;
          })
        });
      </script>
    <% end %>
    <% @group.css = "/* you can write your own CSS here that will be applied to all the group public pages */\n\n#content { width: 960px; }" if @group.css.empty? %>
    <textarea data-untogglable name="css" id="page_editor" class="blocky_editor"><%= @group.css %></textarea>
  </section>

  <br />
  <input type="submit" value="Update" />
</form>