<a href="{{user.media.href}}">{{user.nickname}}</a>

{{#if space}}
  / <a href="{{space.media.actions.edit}}" data-href=""><strong>{{space.title}}</strong></a>
  {{#each folders}}
    / <strong><a data-href="{{path}}">{{title}}</a></strong>
  {{/each}}
  {{#if page}}
    / <span>{{page.title}}</span>
  {{/if}}
  {{#if space_admin}}
    <a rel="tooltip" id="space_settings_link" title="Space settings" class="icon tools" href="{{space.media.actions.settings}}"></a>
  {{/if}}
{{/if}}
